body {
    background: no-repeat scroll url("../Images/Fond.jpg");
}

p{
    color : white;
    font-size: 20px;
}

a{
    font-size : 26px;
    color : cyan;
}

h1{
    color : wheat;
}

em, b{
    font-size : 24px;
}

li{
    font-size: 26px;
}